$main-theme-color: #333;
$alternate-theme-color: #fff;
$linear-gradient-color: linear-gradient(180deg, #00a9e7 0%, #005b9f 100%);
$buttons-main-color: #0076c0;
$error-color: #d60000;
$input-on-focus-color: #101010;
$input-on-blur-color: #9a9a9a;
