@import 'utils/variables';

.page-header {
  &__top-line {
    height: 53px;
    background-color: $main-theme-color;
  }

  &__logo-block {
    height: 96px;
    background: $linear-gradient-color;
    padding: 15px 0;
  }

  &__logo {
    width: 103px;
    height: 66px;
    margin-left: 19.6%;
  }
}
