.page-header {
  &__top-line {
    height: 53px;
    background-color: #333;
  }

  &__logo-block {
    height: 96px;
    background: linear-gradient(180deg, #00afed 0%, #00569a 100%);
    padding: 15px 0;
  }

  &__logo {
    width: 103px;
    height: 66px;
    margin-left: 19.6%;
  }
}
