@import 'utils/variables';

.todo-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 6vh 19.7vw 15.7vh 18.3vw;
  height: 100vh;
  background-color: #faf7f7;

  &__logo {
    z-index: 1;
    margin-bottom: 65px;
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 73.8vh; // component "background" in Figma has height: 797px. "Thank you page" has height 1080px. 797 / 1080 = 73.8
    background: $linear-gradient-color;
  }
}
